footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    background: linear-gradient(
        to right,
        rgba(59, 130, 246, 0.8),
        rgba(148, 163, 184, 1)
    );
    color: black;
    padding: 60px 0 30px;
    border-top-left-radius: 105px;
    font-size: 15px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.row2 {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color:grey;
    font-size: 12px
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col p {
    margin: 4px 0;
}

.col h3 {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.map{
  width: 100%;
  height: 150px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
    
}

.email-id {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    margin: 2px 0;
}

ul li {
    list-style: none;
    margin-bottom: 6px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: black;
}

