*{
  color: white;
}
h5{
  color:white;
}
body {
  background-color: #f0f2f5;
  background-image: url('assets/bg_index1.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.card{
  background-color: transparent;
  border: 2px solid #0d6efd;
}

.card-title {
    color: white !important;
}

.row.my-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.row.my-5 .card {
    flex: 1 1 calc(33% - 1rem);
    max-width: calc(33% - 1rem);
}

@media (max-width: 992px) {
    .row.my-5 .card {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    .row.my-5 .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
