*{
  color: white;
}
h5{
  color:white;
}
body {
  background-color: #f0f2f5;
  background-image: url('assets/bg_index1.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.card{
  background-color: transparent;
  border: 2px solid #0d6efd;
}

.card-title {
    color: white !important;
}